<!-- File created to test features before integrating them into index.html -->
<!DOCTYPE HTML>
<html lang="en">

    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

        <!-- Google Maps Visualization Library -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization"></script>

        <!-- json_to_latlng.js -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/json_to_latlng.js') }}"></script>

    </body>
</html>